    <section class="banner-shadow">
    	<div id="banner">
	    	<img src="/assets/banner.jpg" alt="banner" />
	    </div>
	</section><!-- //banner -->

	<section class="course-index mod cf">
		<div class="hd cf">
			<h2 class="fl">课程介绍<span>Course Introduction</span></h2>
		</div>
    	<div class="bd cf">
    		<ul>
    			<li>
                    <a class="course-pic" href="#"><img src="/assets/course/course1.jpg" width="260" height="160" alt="course1"></a>
                    <dl>
                        <dt><h3>素描课程</h3></dt>
                        <dd>
                            <p>学习内容有入门的线条练习，素描的基本概念，绘画常用工具和性能，作画姿势和握笔方法，素描的构成要素与基本造型方法和规律，观察方法和透视规律。</p>
                        </dd>
                        <dd class="link-line ar"><a href="#">查看详细<span class="en">&gt;&gt;</span></a></dd>
                        <dd class="icon-common icon-date">时间：25课时（3小时为1课时）</dd>
                        <dd class="icon-common icon-pay">费用：60元/课时</dd>
                        <dd><a class="btn-apply css3" href="#">立即报名</a></dd>
                    </dl>
                </li>
                <li>
                    <a class="course-pic" href="#"><img src="/assets/course/course2.jpg" width="260" height="160" alt="course2"></a>
                    <dl>
                        <dt><h3>色彩课程</h3></dt>
                        <dd>
                            <p>学习内容有水粉画，画材料与工具，色彩的基本知识，色彩与光色彩三要素及其他颜色的调配与使用，简单的静物组合写生方法与步骤，静物画欣赏，静物写生的方法与步骤。</p>
                        </dd>
                        <dd class="link-line ar"><a href="#">查看详细<span class="en">&gt;&gt;</span></a></dd>
                        <dd class="icon-common icon-date">时间：25课时（3小时为1课时）</dd>
                        <dd class="icon-common icon-pay">费用：60元/课时</dd>
                        <dd><a class="btn-apply css3" href="#">立即报名</a></dd>
                    </dl>
                </li>
                <li>
                    <a class="course-pic" href="#"><img src="assets/course/course3.jpg" width="260" height="160" alt="course3"></a>
                    <dl>
                        <dt><h3>设计课程</h3></dt>
                        <dd>
                            <p>学习内容有Photoshop工具的运用，平面构成和色彩构成，学会了解网站的风格及创意，网页中颜色，标志字体的搭配，培养网站整体规划的能力。</p>
                        </dd>
                        <dd class="link-line ar"><a href="#">查看详细<span class="en">&gt;&gt;</span></a></dd>
                        <dd class="icon-common icon-date">时间：20课时（3小时为1课时）</dd>
                        <dd class="icon-common icon-pay">费用：90元/课时</dd>
                        <dd><a class="btn-apply css3" href="#">立即报名</a></dd>
                    </dl>
                </li>
    		</ul>
    	</div>
	</section><!-- //course -->

	<section class="works-index mod cf">
		<div class="hd cf">
			<h2 class="fl">作品展示<span>Works show</span></h2>
    		<span class="more"><a href="#" title="更多">更多</a></span>
		</div>
    	<div class="bd cf">
    		<ul>
    			<li><a href="#"><img src="assets/works/works1.jpg" width="224" height="224" alt="works1"></a></li>
                <li><a href="#"><img src="assets/works/works2.jpg" width="224" height="224" alt="works2"></a></li>
                <li><a href="#"><img src="assets/works/works3.jpg" width="224" height="224" alt="works3"></a></li>
                <li><a href="#"><img src="assets/works/works4.jpg" width="224" height="224" alt="works4"></a></li>
                <li><a href="#"><img src="assets/works/works5.jpg" width="224" height="224" alt="works5"></a></li>
                <li><a href="#"><img src="assets/works/works6.jpg" width="224" height="224" alt="works6"></a></li>
                <li><a href="#"><img src="assets/works/works7.jpg" width="224" height="224" alt="works7"></a></li>
                <li><a href="#"><img src="assets/works/works8.jpg" width="224" height="224" alt="works8"></a></li>
                <li><a href="#"><img src="assets/works/works9.jpg" width="224" height="224" alt="works9"></a></li>
                <li><a href="#"><img src="assets/works/works10.jpg" width="224" height="224" alt="works10"></a></li>
                <li><a href="#"><img src="assets/works/works11.jpg" width="224" height="224" alt="works11"></a></li>
                <li><a href="#"><img src="assets/works/works12.jpg" width="224" height="224" alt="works12"></a></li>
    		</ul>
    	</div>
	</section><!-- //works -->
