    <section class="banner-shadow">
    	<div id="banner">
	    	<img src="/assets/banner-aboutus.jpg" alt="banner" />
	    </div>
	</section><!-- //banner -->

	<section class="aboutus cf">
        <div class="sidebar">
            <div class="menu-wrap">
        		<div class="title cf">
        			<h2 class="fl pngfix">关于嘿喀<br/><span>About Heike</span></h2>
        		</div>
            	<menu class="menu">
                    <ul>
                        <li class="acitve"><a class="icon-about" href="/pages/aboutus">嘿喀物语</a></li>
                        <li><a class="icon-face" href="/pages/teachers">嘿喀面貌</a></li>
                        <li><a class="icon-teachers" href="/pages/teachers">老师介绍</a></li>
                        <li><a class="icon-students" href="/pages/students">学员风采</a></li>
                    </ul>
                </menu>
            </div>
            <div class="contact-wrap">
                <div class="contact-map">
                    <img src="/assets/map.jpg" alt="map" />
                </div>
                <div class="contact-info">
                    <dl>
                        <dt>联系方式</dt>
                        <dd>咨询热线：18600897407</dd>
                        <dd>咨询QQ：358287811</dd>
                        <dd>QQ官方群：294662436</dd>
                        <dd>地址：北京市霍营城铁北侧,龙锦苑3区2号楼3# 301</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-about">
                <img src="/assets/main-about.jpg" alt="嘿喀物语" />
                <p>嘿喀一直都在说笑声中成长，我们帮很多美术爱好者解决了画画上的苦恼，这让我们很有成就感，让我们对未来充     满了希望。你可以有一份让自己过得舒服的工作，每天屁颠儿的上班然后屁颠儿的下班，累了惬意的抖抖胳膊小腿儿，偶尔调戏下公司前妹妹然后贱贱的跑开，周末就来嘿喀家族画画，听听音乐，侃侃妹纸的美腿，偶尔出去唱唱歌喝点小酒，定期外出写生，生活该如此美好啊！在嘿喀家族里你会遇到各行各业的人，他们应该有属于他们学习和创作的地方。我想让你们知道，在这里有一个叫嘿喀美术设计工作室，不需要背负备考的压力，而是兴趣，或者是儿时的遗憾，又或者是在工作中有美术需求，是一个有这美术爱好的温馨驿站。不用担心别人的嘲笑或是愚弄，大家可以自由的刻画笔下的人物，不用担心别人的指指点点。我们会一直坚持下去，沏杯香茗，在一个充满阳光的下午等待着你的到来！</p>
                <p>你只闻到我的香水，却没看的我的汗水，你有你的规则，我有我的选择，你否定我的现在，我决定我的未来，你嘲笑我一无所有，不配去爱，我可怜你总是等待，你可以轻视我们的年轻，我们会证明这是谁的时代，梦想是注定孤独的旅行，路上少不了质疑和嘲笑，但那又怎样，哪怕遍体鳞伤也要活的漂亮。</p>
            </div>
        </div>
    </section><!-- //contactus -->
