
<section class="banner-shadow">
  <div id="banner">
    <img src="/assets/banner-course.jpg" alt="banner" />
  </div>
</section><!-- //banner -->

<section class="course cf">
  <div class="title cf">
    <h2 class="fl pngfix">课程介绍<br/><span>Course Introduction</span></h2>
  </div>
  <div class="bd cf">
    <div class="course-sketch-wrap">
      <div class="course-sketch mod-course pos-rel">
        <h3>素描课程------</h3>
        <p>素描是人类历史上最早出现的绘画形式，也是最古老的艺术语言。15世纪文艺复兴时期，人们才发现了其独特的表现魅力。在这一时期，意大利画家马萨丘、达·芬奇、米开朗基罗等人发明并运用了透视学、解剖学和构图学原理，为素描表现的立体感和空间感提供了科学的依据，逐步完善了素描。从此，素描便作为一种近乎完美的绘画形式在全世界画坛独树一帜。</p>
        <h4>教学内容</h4>
        <p>让刚刚踏入绘画门槛的同学，体会一下绘画的魅力。学习内容有入门的线条练习，素描的基本概念，绘画常用工具和性能，作画姿态和握笔方法，素描的构成要素　（形体，结构，比例，透视，明暗）与基本造型方法和规律，观察方法和透视规律。</p>
        <h4>收费标准</h4>
        <p><strong>一期：</strong>25个课时（3个小时为一个课时）<br /><strong>费用：</strong>一期1500元   二期2800元   三期4000元  </p>
        <div class="icon-circle"></div>
      </div>
    </div>
    <div class="mod-shadow"></div>
    <div class="course-color-wrap">
      <div class="course-color mod-course pos-rel">
        <h3>色彩课程------</h3>
        <p>色彩课程主要学习水粉画的绘画技巧，水粉是使用水调合粉质颜料绘制而成的一种画。其表现特点为处在不透明和半透明之间，色彩可以在画面上产生艳丽、柔润、明亮、浑厚等艺术效果。含粉对水色流畅的活动性会产生一定限制。水粉画在湿的时候，颜色的饱和度很高，干后则由于粉的作用及颜色失去光泽，饱和度大幅度降低，这就是它颜色纯度的局限性。</p>
        <h4>教学内容</h4>
        <p>本课程应该结合色彩理论知识、分阶段、针对性的进行色彩配色练习、色彩写生练习、色彩构成练习、色彩归纳及色彩设计练习，使学生从理论到实践，逐渐认识、掌握色彩，并逐渐熟练运用颜色作为绘画工具。教学内容包括水粉（水彩）画材料与工具，色彩的基本知识，色彩与光色彩三要素及其它颜色的调配与使用，简单的静物组合写生方法与步骤，静物画赏析，静物写生的方法与步骤。</p>
        <h4>收费标准</h4>
        <p><strong>一期：</strong>25个课时（3个小时为一个课时）<br /><strong>费用：</strong>一期1500元   二期2800元   三期4000元  </p>
        <div class="icon-circle"></div>
      </div>
    </div>
    <div class="mod-shadow"></div>
    <div class="course-design-wrap">
      <div class="course-design mod-course pos-rel">
        <h3>设计课程------</h3>
        <p>设计是把一种计划、规划、设想通过视觉的形式传达出来的活动过程。人类通过劳动改造世界，创造文明，创造物质财富和精神财富，而最基础、最主要的创造活动是造物。设计便是造物活动进行预先的计划，可以把任何造物活动的计划技术和计划过程理解为设计。</p>
        <h4>教学内容</h4>
        <p>
        <ul>
          <li>
          <p class="cf"><span class="design-title"><strong>1</strong>设计基础</span><span class="design-time">2个课时</span></p>
          <p>平面设计各种形式语言，以及对各种形式语言的认识、把握和创造力，掌握设计的基本原理和技法。</p>
          </li>
          <li>
          <p class="cf"><span class="design-title"><strong>2</strong>平面构成与色彩构成</span><span class="design-time">3个课时</span></p>
          <p>平面构成，色彩美学方面的知识，并通过作业练习将理论置于实践，使学员对色彩的感觉由个人喜好升华到更高的境界中，形成对构图和色彩的创造性思维方式。</p>
          </li>
          <li>
          <p class="cf"><span class="design-title"><strong>3</strong>设计软件</span><span class="design-time">6个课时</span></p>
          <p>讲授photoshop图像处理和图形创建的基本知识和基本技能。深入挖掘工具背后隐藏的技巧，运用软件进行规范化的设计，快速处理设计中实际遇到的问题。</p>
          </li>
          <li>
          <p class="cf"><span class="design-title"><strong>4</strong>UI设计</span><span class="design-time">8个课时</span></p>
          <p>学习图形与界面设计的基本法则，结合Photoshop相关数字工具进行Icon、商业演示、手机、软件、网页等界面的应用设计。</p>
          </li>
          <li>
          <p class="cf"><span class="design-title"><strong>5</strong>综合实训</span><span class="design-time">6个课时</span></p>
          <p>结合所学的知识以小组为单位在老师的指导下，模拟真实环境完成公司某项目的设计与制作。</p>
          </li>
        </ul>
        </p>
        <h4>收费标准</h4>
        <p><strong>时间：</strong>25个课时（3个小时为一个课时）<br /><strong>费用：</strong>2250元  </p>
        <div class="icon-circle"></div>
      </div>
    </div>

  </div>
</section><!-- //course -->

<section class="tips">
  <dl>
    <dt>温馨提示：</dt>
    <dd>
    我们采用课时卡，每次来划课时，你可以自由选择时间上课,课时卡有效期3年。每周晚上（19:00-22:00）和周末（上午：9:00-12:00 下午：14:00-17:00）可以上课。建议一周起码一两次，最好三次。一次两到三个小时。否则没有练习，教你好像挺久但是不进步，也怪丢面的。教学环境保证教学质量每次上课最多15人，同学们分组绘画，老师一对一讲解。
    </dd>
    <dd><p>如果是想学一两次玩玩的话建议不要来，还不够麻烦的呢。</p></dd>
    <dd><p>如果是想学几次就变大师的也建议不要来，教不了。</p></dd>
  </dl>
</section>
