    <section class="banner-shadow">
    	<div id="banner">
	    	<img src="/assets/banner-aboutus.jpg" alt="banner" />
	    </div>
	</section><!-- //banner -->

	<section class="aboutus cf">
        <div class="sidebar">
            <div class="menu-wrap">
        		<div class="title cf">
        			<h2 class="fl pngfix">关于嘿喀<br/><span>About Heike</span></h2>
        		</div>
            	<menu class="menu">
                    <ul>
                        <li><a class="icon-about" href="aboutus.html">嘿喀物语</a></li>
                        <li><a class="icon-face" href="teachers.html">嘿喀面貌</a></li>
                        <li><a class="icon-teachers" href="teachers.html">老师介绍</a></li>
                        <li class="acitve"><a class="icon-students" href="students.html">学员风采</a></li>
                    </ul>
                </menu>
            </div>
            <div class="contact-wrap">
                <div class="contact-map">
                    <img src="/assets/map.jpg" alt="map" />
                </div>
                <div class="contact-info">
                    <dl>
                        <dt>联系方式</dt>
                        <dd>咨询热线：13634638976</dd>
                        <dd>咨询QQ：54654675</dd>
                        <dd>QQ官方群：243565446</dd>
                        <dd>地址：北京市海淀区回龙观XX路XX号</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-students cf">
                <ul>
                    <li><img src="/assets/students/students1.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students2.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students3.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students4.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students5.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students6.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students7.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students8.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students9.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students10.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students11.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students12.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students13.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students14.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students15.jpg" alt="学员风采" /></li>
                    <li><img src="/assets/students/students16.jpg" alt="学员风采" /></li>
                </ul>
            </div>
        </div>
    </section><!-- //contactus -->
