    <section class="banner-shadow">
    	<div id="banner">
	    	<img src="/assets/banner-aboutus.jpg" alt="banner" />
	    </div>
	</section><!-- //banner -->

	<section class="aboutus cf">
        <div class="sidebar">
            <div class="menu-wrap">
        		<div class="title cf">
        			<h2 class="fl pngfix">关于嘿喀<br/><span>About Heike</span></h2>
        		</div>
            	<menu class="menu">
                    <ul>
                        <li><a class="icon-about" href="aboutus.html">嘿喀物语</a></li>
                        <li class="acitve"><a class="icon-face" href="teachers.html">嘿喀面貌</a></li>
                        <li><a class="icon-teachers" href="teachers.html">老师介绍</a></li>
                        <li><a class="icon-students" href="students.html">学员风采</a></li>
                    </ul>
                </menu>
            </div>
            <div class="contact-wrap">
                <div class="contact-map">
                    <img src="/assets/map.jpg" alt="map" />
                </div>
                <div class="contact-info">
                    <dl>
                        <dt>联系方式</dt>
                        <dd>咨询热线：13634638976</dd>
                        <dd>咨询QQ：54654675</dd>
                        <dd>QQ官方群：243565446</dd>
                        <dd>地址：北京市海淀区回龙观XX路XX号</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-teachers">
                <ul>
                    <li class="cf">
                        <div class="photo-teachers"><img src="/assets/teachers/photo-teachers.jpg" alt="陈晓荷" /></div>
                        <dl>
                            <dt>陈晓荷</dt>
                            <dd>1972年6月3日生于内蒙包头。中国美术家协会会员</dd>
                            <dd>1995年毕业于内蒙古师范大学美术系。2001-2004年于中央美院版画系功读铜版画专业研究生</dd>
                            <dd>1995在内蒙古包头市少年宫工作至今，从事美术教学工作。现为中学高级职称教师。</dd>
                            <dd>1995年版画《净地》入选全国第二届少数民族美展。</dd>
                            <dd>1999年版画《窗前的盆花》入选全国九届美展，并获内蒙古自治区美展一等奖。</dd>
                            <dd>2000年版画获自治区建国五十周年美展二等奖。</dd>
                        </dl>
                    </li>
                    <li class="cf">
                        <div class="photo-teachers"><img src="/assets/teachers/photo-teachers.jpg" alt="陈晓荷" /></div>
                        <dl>
                            <dt>陈晓荷</dt>
                            <dd>1972年6月3日生于内蒙包头。中国美术家协会会员</dd>
                            <dd>1995年毕业于内蒙古师范大学美术系。2001-2004年于中央美院版画系功读铜版画专业研究生</dd>
                            <dd>1995在内蒙古包头市少年宫工作至今，从事美术教学工作。现为中学高级职称教师。</dd>
                            <dd>1995年版画《净地》入选全国第二届少数民族美展。</dd>
                            <dd>1999年版画《窗前的盆花》入选全国九届美展，并获内蒙古自治区美展一等奖。</dd>
                            <dd>2000年版画获自治区建国五十周年美展二等奖。</dd>
                        </dl>
                    </li>
                    <li class="cf">
                        <div class="photo-teachers"><img src="/assets/teachers/photo-teachers.jpg" alt="陈晓荷" /></div>
                        <dl>
                            <dt>陈晓荷</dt>
                            <dd>1972年6月3日生于内蒙包头。中国美术家协会会员</dd>
                            <dd>1995年毕业于内蒙古师范大学美术系。2001-2004年于中央美院版画系功读铜版画专业研究生</dd>
                            <dd>1995在内蒙古包头市少年宫工作至今，从事美术教学工作。现为中学高级职称教师。</dd>
                            <dd>1995年版画《净地》入选全国第二届少数民族美展。</dd>
                            <dd>1999年版画《窗前的盆花》入选全国九届美展，并获内蒙古自治区美展一等奖。</dd>
                            <dd>2000年版画获自治区建国五十周年美展二等奖。</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- //contactus -->

