    <section class="banner-shadow">
    	<div id="banner">
	    	<img src="/assets/banner-works.jpg" alt="banner" />
	    </div>
	</section><!-- //banner -->

	<section class="works mod cf">
		<div class="hd cf">
			<h2 class="fl">作品展示<span>Works show</span></h2>
    		<ul class="fr">
                <li><a href="#">全部</a></li>
                <li><a class="acitve" href="#">老师作品</a></li>
                <li><a href="#">学生作品</a></li>
            </ul>
		</div>
    	<div class="bd cf">
    		<ul class="cf">
                <li><img src="/assets/works/works-1.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-2.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-3.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-4.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-5.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-6.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-7.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-8.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-9.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-10.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-11.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-12.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-13.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-14.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-15.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-16.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-17.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
                <li><img src="/assets/works/works-18.jpg" alt="">
                    <p class="works-info cf"><span class="works-author">老师作品</span><span class="works-name">素描-人像写生</span></p>
                </li>
    		</ul>
    	</div>
	</section><!-- //works -->
